* {
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: "Rubik";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
}

@font-face {
  font-family: "Rubik";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
}

@font-face {
  font-family: "Raleway";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
}

body {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  background-color: #fff;
  color: #444444;
}

a {
  text-decoration: none;
  color: black;
}

button {
  text-transform: none;
  appearance: none;
  outline: none;
  border: none;
}

input::placeholder {
  font-size: 18px;
  font-weight: 400;
  text-align: left;
}

address {
  font-style: normal;
}

li {
  /* list-style-type: none; */
}


/* .text-small {
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
}
.text {
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: 30px;
} */

/* Header */
header {
  background: #FFE17F;
}

.search {
  font-size: 16px;
  line-height: 20px;
  color: black;
}

.search__icon {
  background-image: url("../img/icons/search.svg");
  background-repeat: no-repeat;

  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.header__user-nav {
  color: black;
}

.header__login-icon {
  background-image: url("../img/icons/login.svg");
  background-repeat: no-repeat;

  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.header__basket-icon {
  background-image: url("../img/icons/basket.svg");
  background-repeat: no-repeat;

  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.header__compare-icon {
  background-image: url("../img/icons/comparing.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


.header__show-button {
  background-image: url("../img/icons/catalog-show.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 50px;
  height: 50px;
  vertical-align: text-bottom;
}

.header__user-nav {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 800;
  line-height: 23.48px;
  letter-spacing: 0.2em;
  text-align: center;

}

.header__catalog-list {
  font-size: 16px;
  line-height: 18px;
  color: black;
  text-align: left;
  list-style-type: none;
}

.header__catalog-link {
  color: inherit;
}

.main-nav__list {
  color: black;
  list-style-type: none;
}

.main-nav__link {
  color: inherit;
  text-transform: uppercase;
}



/* Slider */
.slider__icon-prev {
  background-image: url("../img/slider/slider-prev-btn--opt.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 60px;
}

.slider__icon-next {
  background-image: url("../img/slider/slider-next-btn--opt.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 20px;
  height: 60px;
}

.slider-info__counter {
  font-family: Rubik;
  font-size: 180px;
  font-weight: 700;
  line-height: 30px;
  text-align: right;
  color: #FFFFFF;
}

.slider__distance {
  font-size: 36px;
  text-align: left;
  color: black;
}

.slider__details-text {
  font-size: 16px;
  text-align: left;
}

/* Goods */
.goods__list {
  display: flex;
  justify-content: space-around;
}

.goods__item {
  list-style: none;
}

.goods__block {
  width: 160px;
  height: 160px;
  background-color: #FFE17F;
  color: black;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;

}

.goods__picture {
  display: block;
}

.goods__item-title {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  text-align: left;
}

/* Services */
.services {
  position: relative;
}

.tabs__controls {
  list-style: none;
  border-right: 7px solid #000000;
}

.tabs__controls .is-active {
  background: black;
  color: #FFE17F;
}


.tabs__control.is-active button {
  background-color: inherit;
  color: inherit;
}

.tabs__dilivery-logo {
  background-image: url("../img/services/service-delivery.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 136px;
  height: 164px;
}

.tabs__background {
  /* position: absolute; */
  /* top: 102px; */
  width: 1440px;
  height: 289px;
  background: rgba(240, 240, 240, 1);
}

/* exclusive Order */
.exclusive-order div {
  background-color: #F0F0F0;
  color: black;
}

.exclusive-order__logo {
  background: #FFE17F url("../img/services/exlusive-logo.svg") no-repeat;

  color: black;
  display: inline-block;
  width: 125px;
  height: 100px;
  vertical-align: middle;
  background-position: center;
}

.exclusive-order__title {
  font-size: 20px;
  line-height: 23.48px;
  letter-spacing: 0.2em;
  text-align: center;
}

.exclusive-order__tip {
  vertical-align: middle;
}

.exclusive-order__tip-icon {
  background-image: url("../img/icons/tip.svg");
  background-repeat: no-repeat;
  display: inline-block;
  width: 40px;
  height: 40px;
}

/* About */
.line {
  width: 84px;
  height: 7px;
  background: black;
}

.about-info__delivery-list {
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;
}

.about-contacts__title {
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.about__text-link {
  text-decoration: underline;
}

/* Subscription */
.subscription {
  background: #F0F0F0;
}

.subscription-form input {
  width: 557px;
  /* height: 55px; */
  border: none;
  border-bottom: 3px solid #C4C4C4;
  opacity: 0px;

  background: inherit;
  vertical-align: bottom;

}

.subscription-form button[type="submit"] {
  font-family: Raleway;
  font-size: 18px;
  font-weight: 800;
  line-height: 21.13px;
  letter-spacing: 0.2em;
  text-align: center;
  color: black;

  width: 253px;
  height: 57px;
  padding: 18px 39px 18px 39px;
  border: 3px solid #C4C4C4;

  background: inherit;
  vertical-align: bottom;
}

.subscription__text-icon {
  background-image: url("../img/controls/tick-green.svg");
  background-repeat: no-repeat;

  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: baseline;
}


/* footer */
footer {
  background: #444444;
  color: #FFFFFF;
  width: 1440px;
  /* height: 321px; */

}

.footer__line {
  display: inline-block;
  width: 80px;
  height: 7px;
  background: #FFC500;
}

.footer-nav__list {
  list-style: none;
}

.footer-nav__link.title {
  color: #FFFFFF;
}

.footer__tel {
  color: #fff;
  text-decoration: underline;
}

.footer__social-list {
  list-style: none;
}

.social-icon {
  background-color: rgba(255, 255, 255, 0.3);
  background-repeat: no-repeat;

  display: inline-block;
  width: 40px;
  height: 40px;
  vertical-align: baseline;

  border-radius: 50%;
}

.footer__social-icon1 {
  background-image: url("../img/social/facebook.svg");
}

.footer__social-icon2 {
  background-image: url("../img/social/inst.svg");
}

.footer__social-icon3 {
  background-image: url("../img/social/twitter.svg");
}

/* ________________________________________________________ */
/* CATALOG-PAGE */

/*Breadcrumbs */
.breadcrumbs__list {
  color: black;
  font-size: 16px;
  line-height: 18.96px;
  text-align: left;
  list-style: none;
}

/* Filters */
.catalog-content__filters-container {
  background: rgba(240, 240, 240, 1);

}
.catalog-filter__group {
  border: none;
}

.catalog-filter__group div {
  border-top: 2px solid black;

}

.catalog-filter__list {
  list-style: none;
}

.catalog-filter__label {
  color: black;
  font-size: 15px;
  line-height: 17.78px;
  text-align: center;
  opacity: 30%;
}

/* Filters--color */
.custom-checkbox {
  display: flex;
  margin-top: 17px;
}

.custom-checkbox label {
  position: relative;
  cursor: pointer;
  padding-left: 30px;

  font-size: 16px;
  line-height: 18.96px;
  text-align: left;

}

.custom-checkbox input {
  position: absolute;
  width: 10px;
  height: 10px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.custom-checkbox .custom-checkbox__icon {
  position: absolute;
  left: 0;
  top: -3px;
  width: 20px;
  height: 20px;
  border: 2px solid #CCCCCC;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 1s ease, background-image 1s ease, background-image 1s ease;


}

.custom-checkbox .custom-checkbox__icon::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 30%;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;

}

.custom-checkbox label:hover .custom-checkbox__icon {
  border-color: rgba(204, 204, 204, 0.25);
  transition: border-color 50ms ease-out;
}

.custom-checkbox label:hover .custom-checkbox__icon+.custom-checkbox__label {
  color: rgba(0, 0, 0, 0.25);
  transition: color 50ms ease-out;
}

.custom-checkbox input:checked + .custom-checkbox__icon {
  border-color: black;
}

.custom-checkbox input:checked + .custom-checkbox__icon::before {
  background-image: url("../img/controls/tick-black.svg");
  transition: background-image 1s ease;
}

.custom-checkbox input:checked + .custom-checkbox__icon + .custom-checkbox__label {
  color: black;
}



/* .custom-checkbox input:focus-visible +.custom-checkbox__icon {
  border-color: #525288;
  background: #000000;
} */


/* Bluetooth */
.control__label {
  color: black;
  font-size: 16px;
  line-height: 18.96px;
  text-align: left;
  cursor: pointer;
}

/* Sorting */
.catalog-sort__sorting-arrow {
  vertical-align: middle;
}
.catalog-sort__order ul{
  list-style: none;
}
.catalog-sort__btn {
  display: flex;
}
.catalog-sort__btn label {
  position: relative;
  cursor: pointer;
}

.catalog-sort__btn label .catalog-sort__order-input {
position: absolute;
left: 0;
top: 0;
width: 1px;
height: 1px;
clip: rect(0 0 0 0);
}
.catalog-sort__btn label .catalog-sort__btn-icon {
  position: absolute;
  /* top: -30px; */
  width: 30px;
  height: 30px;
  margin-bottom: 50px;
}
.catalog-sort__btn label:hover .catalog-sort__btn-icon {
  position: absolute;
  width: 30px;
  height: 30px;
  border: 2px solid rgba(175, 79, 255, 1);
}
.catalog-sort__btn-down .catalog-sort__btn-icon {
  margin-left: 40px;
}
.catalog-sort__btn label .catalog-sort__btn-icon::before {
  content: '';
  position: absolute;
  top: 30%;
  left: 30%;
  width: 20px;
  height: 20px;
  opacity: 0.25;
}
.catalog-sort__btn-up label .catalog-sort__btn-icon::before {
  background-image: url("../img/controls/sort-up.svg");
  background-repeat: no-repeat;
}
.catalog-sort__btn-down label .catalog-sort__btn-icon::before {
  background-image: url("../img/controls/sort-down.svg");
  background-repeat: no-repeat;
}

.catalog-sort__btn label:hover .catalog-sort__btn-icon {
  opacity: 0.5;
}
.catalog-sort__btn label:active .catalog-sort__btn-icon {
  opacity: 1;
}


/* CATALOG */
.catalog__cards {
  margin-top: 30px;
}
/* ________________________________________________________ */

/* Заголовки */
.title {
  margin: 0;
  font-family: Raleway;
  font-weight: 800;
  color: black;

  text-transform: uppercase;
}

.title--yellow {}

.title--h2 {
  font-size: 50px;
  line-height: 50px;
  text-align: left;
  text-transform: none;
}

.title--h3 {
  font-size: 18px;
  line-height: 21.13px;
  letter-spacing: 0.2em;
  text-align: center;
}

.title--h4 {
  font-size: 16px;
  line-height: 18.78px;
  letter-spacing: 0.2em;
  text-align: left;
}

.text-bold {
  color: black;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.02em;
  text-align: left;

}